

.sidebar-option {
    padding: 20px; /* Increase padding for larger size */
    color: #fff;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    margin: 10px 0; /* Add margin between each option */
}

.sidebar-option:hover {
  
    color: black;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100px;
        padding-top: 20px;
    }
  
    .sidebar-option {
        padding: 15px; /* Adjust padding for smaller screens */
        font-size: 14px;
    }
}

.vertical-buttons-container {


bottom: 0;
left: 10%;

    border-top: 5px solid black;
 position: absolute;
 z-index: 111;
    flex-direction: column;
 

}

.vertical-button {
 
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
 
    color: #fff;

    border-radius: 100%;
    cursor: pointer;
    
}

.vertical-button:hover {
    background-color: #0056b3;
}

.img{
    width: 40px;
}